*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
/* ..............NavBAr starts here */
.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    top: 0;

}

.nav-container{
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;}

#navbar-logo{
    background-color: #ff8177;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-items{
    height: 80px;
}

.navbar-links{
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    text-decoration: none;
}

.navbar-links:hover{
    color: #9518fc;
    transition: .3s ease all;
}

.navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #833ab4;
    transition: 0.3s ease all;
    background: -webkit-linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
}

@media screen and (max-width:960px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        padding: 0;
        max-width: 1300px;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        
       
        position: absolute;
        top: -1000px;
       width: 100%;
        opacity: 1;
        z-index: -1;
        transition: .5s all ease;
        left: 0px;

     
        

    }

    .navbar-menu.active{
        background-color: black;
        top: 100%;
        opacity: 1;
        transition: .5s ease all;
        height: auto;
        font-size: 1.6rem;
        z-index: 99;
       
    }

    #navbar-logo{
        padding-left: 25px;
    }

    .navbar-toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: white;
        transition: .5s all ease;
    }

    .navbar-items{
        width: 100%;

    }

    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        width: 80%;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5% , 20%);
    }

    .navbar-toogle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
}

/* ....................Navbar styling ends here! */



/* ..................Hero section styling starts here! */


.hero{
    background-color: #000000;
    background:linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}


.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 90%;
    padding: 30px;
}

.hero-heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: white;
}

.hero-heading span{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.hero-description{
    font-size: 60px;
    background: #da22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114FF, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight{
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width:768px){
    .hero-heading{
        font-size: 60px;

    }

    .hero-description{
        font-size: 40px;
    }
    

}


/* ............................................Hero Section Styling end here! */





/* ABout Section */


.main{
    background-color: #131314;
    padding: 10rem 0;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content{
    color: white;
    width: 100%;
}

.main-content h1{
    background-color: #fe3b6f;
    font-size: 2rem;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;

}

.main-container h2{
    font-size: 4rem;
    background: #ff8177;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.main-content p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
}

.main-btn{
    font-size: 1.8rem;
    background-color: #833ab4;
    transition: 0.3s ease all;
    background: -webkit-linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-top: 2rem;
    position: relative;
   


}
/* Utily class for button In hero section & about section */
.main-btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

/* ///////////////////////////////////////////////////////////////// */

.main-btn::after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff1ead;
    border-radius: 4px;
    transition: .35s all ease;

}

.main-btn:hover{
    color: white;

}

.main-btn:hover:after{
    width: 100%;
}

.main-img-container{
    text-align: center;

}

.main-card-container
{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%  );

}

.fa-layer-group{
    font-size: 14rem;
}

#card-2{
    background-color: #ff512f;
    transition: 0.3s ease all;
    background: -webkit-linear-gradient( to right, #dd2476, #ff512f);
    background: linear-gradient( to right, #dd2476, #ff512f);
    
}

/* =======================================================Mobile responsive=================================================== */
@media screen and (max-width:1100px){
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: 90%;

    }

    .main-img-container{
        display: flex;
        justify-content: center;
    }

    .main-card-container{
        width: 425px;
        height: 425px;
    }

    .main-content{
        margin-bottom: 4rem;
        text-align: center;

    }

    .main-content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2{
        font-size: 3rem;
       
    }
    .main-content p{
        font-size: 1.5rem;
        margin-top: 1rem ;
       
    }
}

@media screen and (max-width:480px){
    .main-card-container{
        width: 255px;
        height: 255px;
    }
    

    .fa-layer-group{
        font-size: 4rem;

    }

    .main-content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
     .main-content p{
         margin-top: 2rem;
        
     }
     .main-content h2{
        font-size: 2rem;}


        .main-btn{
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
       
}



/* ===================================about section ends here============================================ */


