*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}
/* ..............NavBAr starts here */
.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    top: 0;

}

.nav-container{
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;}

#navbar-logo{
    background-color: #ff8177;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-items{
    height: 80px;
}

.navbar-links{
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    text-decoration: none;
}

.navbar-links:hover{
    color: #9518fc;
    transition: .3s ease all;
}

.navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #833ab4;
    transition: 0.3s ease all;
    background: -webkit-linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
}

@media screen and (max-width:960px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        padding: 0;
        max-width: 1300px;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        
       
        position: absolute;
        top: -1000px;
       width: 100%;
        opacity: 1;
        z-index: -1;
        transition: .5s all ease;
        left: 0px;

     
        

    }

    .navbar-menu.active{
        background-color: black;
        top: 100%;
        opacity: 1;
        transition: .5s ease all;
        height: auto;
        font-size: 1.6rem;
        z-index: 99;
       
    }

    #navbar-logo{
        padding-left: 25px;
    }

    .navbar-toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: white;
        transition: .5s all ease;
    }

    .navbar-items{
        width: 100%;

    }

    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        width: 80%;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5% , 20%);
    }

    .navbar-toogle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
}

/* ....................Navbar styling ends here! */



/* ..................Hero section styling starts here! */


.hero{
    background-color: #000000;
    background:linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}


.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 90%;
    padding: 30px;
}

.hero-heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: white;
}

.hero-heading span{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.hero-description{
    font-size: 60px;
    background: #da22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114FF, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f0eff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}