*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans' , 'sans-serif';
    scroll-behavior: smooth;
}

.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 999;
    top: 0;

}

.nav-container{
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;}

#navbar-logo{
    background-color: #ff8177;
    display: flex;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-items{
    height: 80px;
}

.navbar-links{
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    text-decoration: none;
}

.navbar-links:hover{
    color: #9518fc;
    transition: .3s ease all;
}

.navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #833ab4;
    transition: 0.3s ease all;
    background: -webkit-linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient( to right, #fcb045, #fd1d1d, #833ab4);
}

@media screen and (max-width:960px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        padding: 0;
        max-width: 100%;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        background-color: black;
       
        opacity: 1;
        z-index: -1;
        transition: .5s all ease;

    }

    .navbar-menu:active{
        background-color: black;
        top: 100%;
        opacity: 1;
        transition: .5s ease all;
        height: 60vh;
        font-size: 1.6rem;
        z-index: 99;
    }

    #navbar-logo{
        padding-left: 25px;
    }

    .navbar-toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: white;
        transition: .5s all ease;
    }

    .navbar-items{
        width: 100%;

    }

    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        width: 80%;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}